[submodule "AppuntiSilabGVNG"]
	path = AppuntiSilabGVNG
	url = git@github.com:MarcoBuster/sweng.git
[submodule "Laboratorio/2023-lab01"]
	path = Laboratorio/is2023-lab01
	url = git@gitlab.di.unimi.it:Favo02/2023-lab01.git
[submodule "Laboratorio/is2023-lab02"]
	path = Laboratorio/is2023-lab02
	url = git@gitlab.di.unimi.it:luca.corradini2/is2023-lab02.git
[submodule "Laboratorio/is2023-lab03"]
	path = Laboratorio/is2023-lab03
	url = git@gitlab.di.unimi.it:Favo02/is2023-lab03.git
[submodule "Laboratorio/2023-lab04"]
	path = Laboratorio/is2023-lab04
	url = git@gitlab.di.unimi.it:Favo02/2023-lab04.git
[submodule "Laboratorio/is2023-lab05"]
	path = Laboratorio/is2023-lab05
	url = git@gitlab.di.unimi.it:Favo02/is2023-lab05.git
[submodule "Laboratorio/is2023-lab06"]
	path = Laboratorio/is2023-lab06
	url = git@gitlab.di.unimi.it:alsacchi/is2023-lab06.git
[submodule "Laboratorio/briscola"]
	path = Laboratorio/briscola
	url = git@github.com:Favo02/sweng-briscola.git
[submodule "Laboratorio/is2023-lab07"]
	path = Laboratorio/is2023-lab07
	url = git@gitlab.di.unimi.it:Favo02/is2023-lab07.git
[submodule "Laboratorio/is2023-lab08"]
	path = Laboratorio/is2023-lab08
	url = git@gitlab.di.unimi.it:martina.provini/is-2023-lab-08-personal.git
[submodule "Laboratorio/is2023-lab09"]
	path = Laboratorio/is2023-lab09
	url = git@gitlab.di.unimi.it:Favo02/is2023-lab09.git
[submodule "Laboratorio/is2023-lab10"]
	path = Laboratorio/is2023-lab10
	url = git@gitlab.di.unimi.it:alsacchi/is2023-lab10.git
[submodule "Laboratorio/is2023-lab11"]
	path = Laboratorio/is2023-lab11
	url = git@gitlab.di.unimi.it:Favo02/is2023-lab11.git
[submodule "Laboratorio/is2023-lab12"]
	path = Laboratorio/is2023-lab12
	url = git@gitlab.di.unimi.it:Favo02/is2023-lab12.git
[submodule "Laboratorio/stazione-dei-treni"]
	path = Laboratorio/stazione-dei-treni
	url = git@gitlab.di.unimi.it:Favo02/stazione-dei-treni.git
